{{ define "main" }}
{{ partial "page-header" . }}

{{$filterPageByBlog := where .Site.RegularPages "Section" "blog"}}
{{$test := $filterPageByBlog.GroupByDate "January 2006"}}

<section class="section">
  <div class="container">
    <canvas id="postByYearAndMonth"></canvas>
  </div>
</section>
<script>

  const siteTitle = {{ $test }};
  const theLabes = []
  const theData = []

  const myObject = siteTitle;
  for (const key in myObject) {
    if (myObject.hasOwnProperty(key)) {
      theLabes.push(myObject[key].Key);
      theData.push(myObject[key].Pages.length)
      console.log(`${key}: ${myObject[key].Key} - ${myObject[key].Pages.length}`);
    }
  }

  const ctx = document.getElementById('postByYearAndMonth');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: theLabes,
      datasets: [{
        label: '# of posts',
        minBarLength: 6,
        barPercentage: 1,
        data: theData,
        borderWidth: 1,
        borderColor: 'rgb(54, 162, 235)',
        backgroundColor: 'rgba(54, 162, 235, 0.2)',
      }]
    },
    options: {
      responsive: true,
      indexAxis: 'y',
      scales: {
        x: {
          beginAtZero: true,
          ticks: {
            stepSize: 1
          },
        }
      },
      plugins: {
        legend: {
          position: 'top',
        },
        title: {
          display: true,
          text: 'Post per Month'
        }
      }
    }
  });
</script>
{{ end }}